.btn {
        background: linear-gradient(
        90deg
        ,rgba(67, 185, 126, 0.6),rgba(238, 201, 36, 0.6));
        text-transform: capitalize;
        color: rgba(255,255,255,var(--text-opacity));
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
        padding-top: .75rem;
        padding-bottom: .75rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: .5rem;
        margin-bottom: .5rem;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 9999px;
        text-decoration: inherit;
        
}
